<app-landing></app-landing>
<hr>
<app-services></app-services>
<hr>
<app-testimonials></app-testimonials>
<hr>
<div class="py-12 uppercase px-4">
  <div class="container md:text-3xl text-2xl  rounded-3xl text-center py-24 flex gap-10 items-center flex-col">
    <h2 class="text-blueColor uppercase font-bold dReveal">SO WHAT ARE YOU
      WAITING FOR ?</h2>
    <a class="btn  font-medium px-5 lg:px-10 dReveal" href="https://calendly.com/autoleadsmedia/30min"> SCHEDULE A
      CALL </a>
  </div>
</div>
<hr>
<hr>
<div class="text-center py-3 text-[10px] md:text-sm text-blueColor">Website designed and developed by : <a
    class="underline" href="http://www.framskrit.com/">framskrit</a> </div>