<header class="relative">
  <div class="container flex items-center justify-between">
    <a id="home" href="" class="w-[120px] md:w-[150px]">
      <img src="assets/logo.svg" alt="logo">
    </a>
    <nav>
      <ul [ngClass]="{active:activeMenu}" class="flex font-medium text-lg gap-12 ">
        <li style="--d:1">
          <a href="#home">
            Home
          </a>
        </li>
        <li style="--d:2">
          <a href="#aboutUs">
            About Us
          </a>
        </li>
        <li style="--d:3">
          <a href="#testimonials">
            Testimonials
          </a>
        </li>
      </ul>
    </nav>
    <a href="https://calendly.com/autoleadsmedia/30min" class="btn hidden md:block">
      Schedule a call
    </a>
    <div class="menu-icon w-8 h-8 flex flex-col duration-300 gap-2 items-end" [ngClass]="{active:activeMenu}"
      (click)="reflectActiveMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>