<div id="testimonials">
  <div class="container">
    <div class="flex justify-center gap-8">
      <img class="hidden md:block w-16" src="assets/hummer.svg" alt="">
      <div class="uppercase text-blueColor font-bold text-center py-10">
        <h2 class="text-xs md:text-xl dReveal text-black">TESTIMONIALS</h2>
        <p class="text-2xl md:text-3xl dReveal">HEAR WHAT OUR PARTNERS SAY</p>
      </div>
      <img class="hidden md:block w-16" src="assets/helt.svg" alt="">
    </div>
    <div>
      <iframe class="w-full max-w-[814px] mx-auto rounded-[10px]" width="560" height="315"
        src="https://www.youtube.com/embed/OZjh0NhXI4Q" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="relative py-8">
      <swiper [config]="config" class="max-w-4xl mx-auto">
        <ng-template swiperSlide *ngFor="let testi of tetimonials">
          <div
            class="h-72 select-none py-6 px-3 mx-auto bg-white border-2 rounded-[10px] text-black max-w-[270px] text-center">
            <img class="w-20 m-auto" src="assets/testimonials/{{testi.img}}" alt="">
            <h2 class="uppercase text-2xl font-bold my-8">{{testi.name}}</h2>
            <p class="text-xs font-medium">{{testi.opinion}}</p>
          </div>
        </ng-template>

      </swiper>
      <div class="mx-auto w-72   text-xl">
        <img src="assets/testimonials/next.svg" class="swiper-button-next" />
        <img src="assets/testimonials/prev.svg" class="swiper-button-prev" />
      </div>
    </div>
  </div>
</div>