@import "swiper/scss";
@import "swiper/scss/navigation";
// @import "swiper/scss/pagination";
.testi {
  font-family: "Inter", sans-serif;
  // gap: 30px;
  padding: 26px 0px;
  height: 300px;
  justify-content: space-around;
}
