<div id="landing" class="relative">
  <div class="home top-[59px] left-[11px] md:top-[186px] md:left-[222px]">
    <img src="../../../../../assets/home-icon.svg" alt="home icon">
  </div>
  <div class="home bottom-[25px] left-[23px] md:bottom-[132px] md:left-[149px]">
    <img src="../../../../../assets/home-icon.svg" alt="home icon">
  </div>
  <div class="home top-[187px] right-[29px] md:top-[290px] md:right-[75px]">
    <img src="../../../../../assets/home-icon.svg" alt="home icon">
  </div>
  <div class="home bottom-[51px] right-[44px] md:bottom-[51px] md:right-[303px]">
    <img src="../../../../../assets/home-icon.svg" alt="home icon">
  </div>
  <div class="container text-center py-12 ">
    <div class="max-w-5xl mx-auto">
      <h1 class="font-bold text-4xl leading-[52px] md:text-[60px] md:leading-[90px] text-blueColor uppercase  py-2">
        TARGETED HOME
        IMPROVEMENT LEADS
        DELIVERED
        RIGHT AWAY</h1>
      <div>
        <iframe class="w-full rounded-[10px]" width="560" height="315" src="https://www.youtube.com/embed/P0YAXSGV9g4"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>


      </div>
      <a href="" class="btn text-[15px] md:text-[25px] my-7 block md:w-80 w-44 mx-auto">Schedule a call</a>
    </div>
  </div>
</div>